
body {
	background-color: #f5f7fa;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.vermelho {
	display: flex;
}
.azul {
    display: flex;
    flex-direction: column;
	width: 330px;
	background-color: #fff;
	height: 623px;
	border-right: 1px solid #e1e1e1;
}
.azul .verde {
	background: linear-gradient(262deg, #fc6237, #fd267d);
	width: 100%;
	height: 50px;
	display: flex;
	align-items:center;
}

.e {
    display: flex;
	border: 1px solid #c92064;
	background: linear-gradient(262deg, #c92064, #fd267d);
	border-radius: 40px;
}
.azul .verde .avatar img {
	width: 21px;
	height: 21px;
	border-radius: 40px;
    margin-left: 5px;
}

.azul .verde .titulo {
	padding: 6px 7px;
	color: #fff;
	font-size: 10px;
}

.d{
	display: flex;
	background: color  #752711;
}

.mala{
	width: 21px;
	height: 21px;
	border: 1px solid #752711;
	background: color  #752711;
	border-radius: 40px;
	padding: 2px;
	margin-left: 75px;
}

.escudo{
	width: 21px;
	height: 21px;
	border: 1px solid #752711;
	background: color  #752711;
	border-radius: 40px;
	padding: 2px;
	margin-left: 10px;
}

.azul .roxo {
	display: flex;
    justify-content: left;
}

.azul .roxo button {
    display: flex;
	justify-content: center;
	align-items: center;
    border: 0px;
    width: 80px;
	height: 25px;
    background-color: #fff;
	font-weight: 700;
	font-size: 10px;
}

.azul .roxo .linha {
	border-bottom: 3px solid #fd5068;
}

.azul .mensagem {
	width: 200px;
	padding: 0 10px;
	font-weight: 300;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-style: oblique;
}

.cinza {
	width: 100%;
	display: flex;
	padding-top: 50px;
	align-items: center;
	flex-direction: column;
}

.vermelho .card {
	position: relative;
	height: 450px;
}

.cinza .card .usuario {
	width: 250px;
	height: 380px;
	object-fit: cover;
	border-radius: 6px;
}

.cinza .card .A .profile {
	position: absolute;
	bottom: 0px;
}

.cinza .card .A .nome {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	margin-left: 10px;
	text-shadow: 3px 3px 50px black;
}

.cinza .card .A .nome span {
	font-size: 22px;
}

.cinza .card .texto {
	display: flex;
	align-items: center;
	padding: 0 10px 10px 10px;
}

.cinza .card .texto p {
	font-size: 15px;
	margin: 5px 0;
	color: #fff;
	text-shadow: 3px 3px 50px black;
}

.laranja {
    width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient( to top , #000000, #000000);
}

.laranja .return{
	border: 1px solid white;
	border-radius: 40px;
	padding: 5px;
}

.laranja .x {
	border: 1px solid #c62c1e;
	border-radius: 40px;
	padding: 9px;
}

.laranja .star {
	border: 1px solid #30f3ef;
	border-radius: 40px;
	padding: 5px;
}

.laranja .heart {
	border: 1px solid #2df187;
	border-radius: 40px;
	padding: 9px;
}

.laranja .lightning {
	border: 1px solid #ba52f5;
	border-radius: 40px;
	padding: 5px;
}

.legenda {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 650px;
	height: 40px;
	margin-top: 60px;
	font-size: 12px;
}

.legenda .ocultar{
	color: black;
	padding: 0px 9px 0px 9px;
	border-radius: 20px;
	background-color: gray;
	border: 4px solid gray;
}

.legenda .não{
	color: black;
	display: flex;
	align-items: center;
	padding-left: 4px;
}

.legenda .curti{
	color: black;
	display: flex;
	align-items: center;
	padding-left: 4px;
}

.legenda .abrir_portal{
	color: black;
	display: flex;
	align-items: center;
	padding-left: 4px;
}

.legenda .fechar{
	color: black;
	display: flex;
	align-items: center;
	padding-left: 4px;
}


.legenda .super_like{
	color: black;
	display: flex;
	align-items: center;
	padding-left: 4px;
}
